<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">        
    <link rel="shortcut icon" href="ui-resources/images/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
	<link rel="icon" href="ui-resources/images/favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon">
    
    <title th:text="#{view.signup.title}">Sign Up</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="ui-resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/ui-resources/css/bootstrap.min.css}"/>
    <link href="ui-resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/ui-resources/css/core.css}" />
    <script src="ui-resources/js/jquery.min.js" th:src="@{/ui-resources/js/jquery.min.js}"></script>
    <script src="ui-resources/js/bootstrap.min.js" th:src="@{/ui-resources/js/bootstrap.min.js}"></script>
    <style>input[type=text], .txtarea{
		margin-bottom: 30px;}
 	</style>
</head>
<body>
<div class="container">
<form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${signupForm}" th:fragment="signupForm">
    <th:block th:if="${message != null}">
        <div th:replace="fragments/components :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">Alert</div>
    </th:block>
    <fieldset  th:disabled="${message == success}">
        <legend>Registration</legend>
        <div class="form-group" align="center">
            <div class="col-xs-12">
                <span class="help-block" th:if="${#fields.hasErrors('mobileNumber')}" th:errors="*{mobileNumber}">Incorrect email</span>
                <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile number" th:field="*{mobileNumber}" required oninvalid="this.setCustomValidity('Please fill this field.')"/>
            </div>
            <div class="col-xs-12">
            	<span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect name</span>
                <input type="text" class="form-control" id="firstName" placeholder="First name" th:field="*{firstName}" required oninvalid="this.setCustomValidity('Please fill this field.')"/>
            </div>
            <div class="col-xs-12">
            	<span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect name</span>
                <input type="text" class="form-control" id="lastName" placeholder="Last name" th:field="*{lastName}" required oninvalid="this.setCustomValidity('Please fill this field.')"/>
            </div>
<!--             <div class="form-group">
            <div class="btn-group">
				  <button type="button" class="btn btn-danger">Action</button>
				  <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				    <span class="sr-only">Toggle Dropdown</span>
				  </button>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" href="#">Action</a>
				    <a class="dropdown-item" href="#">Another action</a>
				    <a class="dropdown-item" href="#">Something else here</a>
				    <div class="dropdown-divider"></div>
				    <a class="dropdown-item" href="#">Separated link</a>
				  </div>
			</div>
			</div> -->
			<div class="dropdown col-xs-12" align="left">
				<select class="day" th:field="*{day}">
					<option th:value="1" th:text="1"></option>
					<option th:value="2" th:text="2"></option>
					<option th:value="3" th:text="3"></option>
					<option th:value="4" th:text="4"></option>
					<option th:value="5" th:text="5"></option>
					<option th:value="6" th:text="6"></option>
					<option th:value="7" th:text="7"></option>
					<option th:value="8" th:text="8"></option>
					<option th:value="9" th:text="9"></option>
					<option th:value="10" th:text="10"></option>
					<option th:value="11" th:text="11"></option>
					<option th:value="12" th:text="12"></option>
					<option th:value="13" th:text="13"></option>
					<option th:value="14" th:text="14"></option>
					<option th:value="15" th:text="15"></option>
					<option th:value="16" th:text="16"></option>
					<option th:value="17" th:text="17"></option>
					<option th:value="18" th:text="18"></option>
					<option th:value="19" th:text="19"></option>
					<option th:value="20" th:text="20"></option>
					<option th:value="21" th:text="21"></option>
					<option th:value="22" th:text="22"></option>
					<option th:value="23" th:text="23"></option>
					<option th:value="24" th:text="24"></option>
					<option th:value="25" th:text="25"></option>
					<option th:value="26" th:text="26"></option>
					<option th:value="27" th:text="27"></option>
					<option th:value="28" th:text="28"></option>
					<option th:value="29" th:text="29"></option>
					<option th:value="30" th:text="30"></option>
				</select>
				<select class="month" th:field="*{month}">
					<option th:value="Jan">Jan</option>
					<option th:value="Feb">Feb</option>
					<option th:value="Mar">Mar</option>
					<option th:value="Apr">Apr</option>
					<option th:value="May">May</option>
					<option th:value="Jun">Jun</option>
					<option th:value="Jul">Jul</option>
					<option th:value="Aug">Aug</option>
					<option th:value="Sept">Sept</option>
					<option th:value="Oct">Oct</option>
					<option th:value="Nov">Nov</option>
					<option th:value="Dec">Dec</option>
				</select>
					<select class="year" th:field="*{year}">
					<option th:value="2020">2021</option>
					<option th:value="2021">2020</option>
					<option th:value="2022">2019</option>
					<option th:value="2023">2018</option>
					<option th:value="2024">2019</option>
					<option th:value="2025">2025</option>
					<option th:value="2026">2026</option>
					<option th:value="2027">2027</option>
					<option th:value="2028">2028</option>
					<option th:value="2029">2029</option>
					<option th:value="2030">2030</option>
					<option th:value="2031">2031</option>
					<option th:value="2032">2032</option>
					<option th:value="2033">2033</option>
					<option th:value="2034">2034</option>
					<option th:value="2035">2035</option>
					<option th:value="2036">2036</option>
					<option th:value="2037">2037</option>
					<option th:value="2038">2038</option>
					<option th:value="2039">2039</option>
					<option th:value="2040">2040</option>
				</select>
				</div>
            <form >
            <div class="form-row col-xs-12" align="left">
             <ul th:each="item : ${listgender}">
             	<input type="radio" th:field="*{gender}" th:value="${item.id}" />
                <label th:for="${item}" th:text="${item.name}"></label>
             </ul> 
            </div> 
            </form>
            <div class="col-xs-12">
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
                <input type="text" class="form-control" id="email" placeholder="Email" th:field="*{email}" required oninvalid="this.setCustomValidity('Please fill this field.')"/>
            </div>
            <div class="col-xs-12">
                <button type="submit" class="btn col-xs-8 col-sm-9 col-md-12">Register</button>
            </div>    
        </div>
    </fieldset>
  <th:block th:if="${message != success}">
    <div class="col-xs-12">
    <a href="form" th:href="@{/signin/}" class="btn col-xs-8 col-sm-9 col-md-12"><span class="btn col-xs-8 col-sm-9 col-md-12" >Login</span></a>
<!--          <button class="btn col-xs-8 col-sm-9 col-md-12" href="http://localhost:8181/signin/" >Login</a> -->
    </div>
    </th:block>
</form>
</div> <!-- end container -->
<div th:replace="fragments/layout :: footer"></div>

<script type="text/javascript">
        var s,
      DateWidget = {
        settings: {
          months: ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sept','Oct','Nov','Dec'],
          day: new Date().getUTCDate(),
          currMonth: new Date().getUTCMonth(),
          currYear: new Date().getUTCFullYear(),
          yearOffset: 21,
          containers: $(".dateDropdown")
        },

        init: function() {
          s = this.settings;
          DW = this;
          s.containers.each(function(){
            DW.removeFallback(this);
            DW.createSelects(this);
            DW.populateSelects(this);
            DW.initializeSelects(this);
            DW.bindUIActions();
          })
        },

        getDaysInMonth: function(month, year) {
           return new Date(year, month, 0).getDate();
        },

        addDays: function(daySelect, numDays){
          $(daySelect).empty();

          for(var i = 0; i < numDays; i++){
            $("<option />")
              .text(i + 1)
              .val(i + 1)
              .appendTo(daySelect);
          }
        },

        addMonths: function(monthSelect){
          for(var i = 0; i < 12; i++){
            $("<option />")
              .text(s.months[i])
              .val(s.months[i])
              .appendTo(monthSelect);
          }
        },

        addYears: function(yearSelect){
          for(var i = 0; i < s.yearOffset; i++){
            $("<option />")
              .text(i + s.currYear)
              .val(i + s.currYear)
              .appendTo(yearSelect);
          }
        },

        removeFallback: function(container) {
          $(container).empty();
        },

        createSelects: function(container) {
          $("<select class='day'>").appendTo(container);
          $("<select class='month'>").appendTo(container);
          $("<select class='year'>").appendTo(container);
        },

        populateSelects: function(container) {
          DW.addDays($(container).find('.day'), DW.getDaysInMonth(s.currMonth, s.currYear));
          DW.addMonths($(container).find('.month'));
          DW.addYears($(container).find('.year'));
        },

        initializeSelects: function(container) {
          $(container).find('.day').val(s.day);
          $(container).find('.currMonth').val(s.month);
          $(container).find('.currYear').val(s.year);
        },

        bindUIActions: function() {
          $(".month").on("change", function(){
            var daySelect = $(this).prev(), 
                yearSelect = $(this).next(),
                month = s.months.indexOf($(this).val()) + 1,
                days = DW.getDaysInMonth(month, yearSelect.val());
            DW.addDays(daySelect, days);
          });

          $(".year").on("change", function(){
            var daySelect = $(this).prev().prev(), 
                monthSelect = $(this).prev(),
                month = s.months.indexOf(monthSelect.val()) + 1,
                days = DW.getDaysInMonth(month, $(this).val());
            DW.addDays(daySelect, days);
          });
        }
      };

      DateWidget.init();
    </script>
</body>
</html>